.one-section{
    padding: 120px 0 20px 0 ;
    background-color: #fff;

    &__title{

font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 72px;
        margin-top: 100px;
        line-height: 64px;
/* identical to box height, or 89% */

letter-spacing: -1px;

color: #2C2830;

    }

    &__spa{
        width: 300px;
        margin-top: -100px;
        height: 3px;
    
        &__tt{
        background-color: #8e0000;
        width: 300px;
        margin-top: -100px;
        // height: 3px;
        padding: 0.2px;
        }


    }

    .box{
        display: flex;
        align-items: center;
        justify-content:space-between ;


        &__car{
            padding: 2px;
            padding: 200px 0;


            &__title{
                font-family: 'DM Serif Display';
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 38px;
                padding: 30px 0;

              
                    letter-spacing: -0.388889px;
                
                color: #2C2830;
                }

                &__text{
                    padding: 10px 31px;
                    font-family: 'Karla';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    width: 290px;
                padding: 30px 0;
                /* or 162% */
                    
                    
                    color: #837D88;
                    }
        }
 }


}